%table
  - Person.find(:all).each do |person|
    %tr
      %td= person.email_address
      %td= person.ip_address
      

.questions
  - Question.find(:all).each do |question|
    %h3= question.content
    - total_votes = question.votes.count.to_f
    %ul
      - question.answers.reverse.each do |answer|
        = answer.content
        \----
        = answer.votes.count
        - if answer.votes.count > 0
          \----
          = ((total_votes / answer.votes.count) * 100).to_i
          \%
        - else
          0%