- if false
  %table
    - Person.find(:all).each do |person|
      %tr
        %td= person.email_address
        %td= person.ip_address
        
%h2 Data

%br/

%h3 Stats

%ul
  %li
    The survey has been up for
    - started_at = Person.find(:first).created_at
    = distance_of_time_in_words_to_now(started_at)
  %li== Data from #{Person.count} people
  %li
    = ((started_at - Time.now) / 60 / 60) / Person.count
    people an hour

%br/

.questions
  - Question.find(:all).each do |question|
    %h3= question.content
    - total_votes = question.votes.count.to_f
    %ul
      - question.answers.each do |answer|
        %li
          = answer.content
          \----
          = answer.votes.count
          - if answer.votes.count > 0
            \----
            = ((answer.votes.count / total_votes) * 100).to_i
            \%
          - else
            0%