
- form_tag do

  %fieldset
    %p
      We're on for year three of Hampton's Ruby Survey! Let's find out what's changed in the ruby community.
      What's gotten hotter, what's lost some steam?
    %p
      This survey has been taken by
      %strong
        = Person.count
        people.
    %p= link_to "Click here to see the 2008/2009/2010 Results! (but please come back and take the survey!)", "/survey/stats"
    %p
      Give us your email address if you want to get an email when the survey's results are compiled.
    %label Email
    = text_field :person, :email_address

  - @questions.each do |question|
    .question
      %h2= question.content
      %ul
        - question.answers.find(:all, :order => "id ASC").each do |answer|
          %li
            %label{:for => "question_#{question.id}_#{answer.id}"}
              = radio_button_tag "question[#{question.id}]", answer.id
              = answer.content
  
  
  %button{:type => "submit"} Finish Survey