
.about
  .blurb
    This Ruby Survey was started in 2008 by #{link_to "Hampton Catlin", "http://www.twitter.com/hcatlin"}. It's been held four times since 2008. The goal of this survey is to track changing trends, not to get the best data about today. To achieve that, we want to ask the same questions in the same way, every year. Therefore, you might notice some questions sound dated... but that's part of the fun!
  .stats
    .numbers
      This survey has been taken by:
      .counts
        .overall
          %span= Person.count
          people overall
        .year
          %span= Person.where("created_at > ?", Time.new(YEAR)).count
          people this year
    .stats-link= link_to "Click here to see the stats!", "/stats"

= form_tag do
    
  %h2 Take The Survey
  .email
    %p
      Enter your email address if you want to stay updated.

    = text_field :person, :email_address, :placeholder => "E-mail"
  - @questions.each do |question|
    .question
      %h2= question.content
      %ul
        - question.answers.find(:all, :order => "id ASC").each do |answer|
          %li
            %label{:for => "question_#{question.id}_#{answer.id}"}
              = radio_button_tag "question[#{question.id}]", answer.id
              = answer.content
  
  
  %button{:type => "submit"} Finish Survey