
.about
  %p
    This Ruby Survey was started in 2008 by #{link_to "Hampton Catlin", "http://www.twitter.com/hcatlin"}. It's been held four times: 2008, 2009, 2010, 2012, and 2014. The goal of this survey is to track changing trends, not to get the best data about today. To achieve that, we want to ask the same questions in the same way, every year. Therefore, you might notice some questions sound dated... but that's part of the fun!
  %p
    This survey has been taken by
    %strong
      = Person.count
      people ever, and 
      = Person.where("created_at > ?", Time.new(YEAR)).count
      people this year.
  %p= link_to "Click here to see the Stats! (but please come back and take the survey!)", "/stats"

= form_tag do
    
  %h2 Take The Survey
  %p
    Give us your email address if you want to get an email when the survey's results are compiled.

  %label Email
  = text_field :person, :email_address
  - @questions.each do |question|
    .question
      %h2= question.content
      %ul
        - question.answers.find(:all, :order => "id ASC").each do |answer|
          %li
            %label{:for => "question_#{question.id}_#{answer.id}"}
              = radio_button_tag "question[#{question.id}]", answer.id
              = answer.content
  
  
  %button{:type => "submit"} Finish Survey